.navbar-brand{
    font-family: 'Reggae One', cursive;
    color : white;
}
.nav-link {
    color : white;
    font-family: 'Indie Flower', cursive;
    font-size: larger;
}
.nav-link:hover{
    color : lightgreen;
}
.card {
    font-family: 'Indie Flower', cursive;
    font-size: larger;
}
.heading {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color : darkgreen;
    text-align: center;
    margin : 20px;
}
.flowerfont {
    font-family: 'Indie Flower', cursive;
    font-size : 25px;
}
.navbar-toggler{
    color : white;
}